:root {
  --bg-color: #fff;
  --primary-dark-color: #333;
  --toggle-btn: #333;
}

[data-theme="dark"] {
  --bg-color: #222831;
  --primary-dark-color: #ececec;
  --toggle-btn: rgb(97, 97, 97);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 300;
  outline: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-dark-color);
  font-family: "Roboto", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1rem;
  line-height: 1.5;
}

.container {
  margin: 0 12rem 3rem 12rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Roboto, sans-serif;
  line-height: 1.2;
  margin: 0 0 0.75rem;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.1rem;
  font-weight: 500;
}

h2 {
  font-size: 1.2rem;
}
.d-flex {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}
a {
  color: var(--primary-dark-color);
  text-decoration: none;
}
header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  padding-top: 1rem;
  margin-top: 3rem;
  z-index: 10000;
  justify-content: space-between;
}

.link-icon {
  color: var(--primary-dark-color);
  font-size: 2rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.right {
  .links {
    display: flex;
    justify-content: flex-end;
    li {
      margin-left: 0.8rem;
    }
  }
  ul {
    li {
      text-align: right;
    }
  }
}
hr {
  margin: 0.5rem 0;
  border: none;
  border-top: 1px dashed var(--primary-dark-color);
  opacity: 0.8;
}

section {
  margin: 2.8rem 0;
}

.box {
  & > span {
    text-align: center;
    display: block;
    font-size: 1.7rem;
  }
}

.about {
  .info {
    margin-top: 1.5rem;
    display: flex;
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-left: 3rem;
    }

    p {
      text-align: justify;
      margin-left: 1.8rem;
    }
  }
}

mark {
  background-color: var(--primary-dark-color);
  color: var(--bg-color);
  padding: 0.1rem 0.5rem;
  border-radius: 3px;
}

.table-div {
  margin-top: 1.5rem;
  text-align: left;
  display: flex;
  justify-content: center;
  th {
    font-size: 1.2rem;
    padding: 0 4rem;
  }
  td {
    padding: 0 5rem;
    text-align: left;
  }
}

.qualification-div {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      margin-left: 2rem;
      a {
        color: var(--primary-dark-color);
        text-decoration: none;
        &:hover {
          border-bottom: 1px dotted var(--primary-dark-color);
        }
      }
    }
  }
}
.education {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  p {
    text-align: center;
    margin-bottom: 0.2rem;
    margin-left: 2rem;
  }
}
.project {
  margin-top: 1.5rem;
  h2 {
    font-weight: 500;
    margin-bottom: 0.1rem;
  }
  p {
    text-align: justify;
  }
}

.project-link {
  margin-left: 0.7rem;
  color: var(--primary-dark-color);
  font-size: 1.5rem;
  margin-bottom: 0.1rem;
}

.copy {
  cursor: pointer;
  transition: all 0.2s ease-out;
  &:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13);
  }
}
footer {
  display: flex;
  justify-content: flex-end;

  span {
    margin-right: 0.8rem;
  }
}

//toggle button
$toggle-background-color-on: var(--toggle-btn);
$toggle-background-color-off: var(--toggle-btn);
$toggle-control-color: white;
$toggle-width: 50px;
$toggle-height: 22px;
$toggle-gutter: 5px;
$toggle-radius: 50%;
$toggle-control-speed: 0.15s;
$toggle-control-ease: ease-in;

// These are our computed variables
// change at your own risk.
$toggle-radius: $toggle-height / 2;
$toggle-control-size: $toggle-height - ($toggle-gutter * 2);

.toggle-control {
  display: block;
  position: relative;
  padding-left: $toggle-width;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ .control {
    background-color: $toggle-background-color-on;

    &:after {
      left: $toggle-width - $toggle-control-size - $toggle-gutter;
    }
  }

  .control {
    position: absolute;
    top: 0;
    left: 0;
    height: $toggle-height;
    width: $toggle-width;
    border-radius: $toggle-radius;
    background-color: $toggle-background-color-off;
    transition: background-color $toggle-control-speed $toggle-control-ease;

    &:after {
      content: "";
      position: absolute;
      left: $toggle-gutter;
      top: $toggle-gutter;
      width: $toggle-control-size;
      height: $toggle-control-size;
      border-radius: $toggle-radius;
      background: $toggle-control-color;
      transition: left $toggle-control-speed $toggle-control-ease;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .container {
    margin: 4rem 2rem;
    header {
      position: relative;
      flex-direction: column;
      align-items: center;
      .left {
        h2 {
          margin-bottom: 0;
        }
        text-align: center;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column-reverse;
    .links {
      margin-top: 0.8rem;
      display: flex;
      justify-content: center;
      li {
        margin-left: 0.8rem;
      }
    }
    ul {
      li {
        text-align: center;
      }
    }
  }

  .about {
    .info {
      flex-direction: column;
      align-items: center;
      img {
        margin: 0;
        margin-bottom: 1rem;
        width: 130px;
        height: 130px;
      }
      p {
        margin-left: 0;
      }
    }
  }

  .table-div {
    th {
      font-size: 1.2rem;
      padding: 0 1rem;
    }
    td {
      padding: 0 1rem;
      text-align: left;
      font-size: 1rem;
    }
  }

  .qualification-div {
    display: block;
    ul {
      flex-direction: column;
      margin-top: 0.8rem;
      li {
        text-align: center;
        margin: 0;
        font-size: 1rem;
      }
    }
  }

  .education {
    flex-direction: column;
    align-items: center;
    p {
      margin-left: 0;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .container {
    margin: 4rem 3rem;
  }
}
